a, a:hover {}

.header .logo img {
    margin: 24px 0 -20px 0;
}

.nav {
    color: #687074;
    text-transform: uppercase;
    line-height: 1.6;
}

.nav a {
    padding: 10px 25px 10px 25px !important;
    font-size: 15px;
    color: #687074;
}

.nav li a:hover {
    background-color: transparent;
    border-bottom: 2px solid #d9230f;
}

.nav li.active a {
    color: #d9230f;
    border-bottom: 2px solid #d9230f;
}

.nav li {
    bottom: -2px;
}

.header {
    border-bottom: 2px solid #eeeeee;
}

.slider {
    border-bottom: 2px solid #eeeeee;
}

.content {
    padding: 40px 0;
}

.example-img {
    height: 140px;
    background-color: #ccc;
}

.headline {
    border-bottom: 1px dotted #e4e9f0;
    margin: 10px 0 25px 0;
}

.headline h2 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #d9230f;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}

.users .img-container {
    height: 120px;
}


.users .user {

}

.vertical-align {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    background-size: cover;
    background-image: url(../img/teaser/strichliste-blur.jpg);

    background-color: gray;
    height: 350px;

    position: relative;
}

.slider-headline-1 {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 50px;
}

.slider-headline-1, .slider-headline-2 {
    background-color: rgba(0,0,0,0.5);
    padding: 5px 10px;

    display: inline-block;
    color: #fff;
}

.slider-headline-2 {
    font-size: 20px;
    margin-top: 20px;
}

.footer {
    padding: 40px 0;
    background-color: #272727;
}
